.layer1 {
padding: 0;
font-size:12px;
color:#333;
text-shadow:1px 1px 1px #fff;
text-align:left;
overflow-y:auto;
overflow-x:hidden;
height:100%;
}
.heading{
color: #fff;
font-size:12px;
padding: 5px 5px;
cursor: pointer;
position: relative;
text-shadow:1px 1px 1px #fff !important;
margin-bottom:5px;
width:100%;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
border-radius:8px;
background-color: #B6DE8F;
}
.content_open{
	background:#eee;
	-moz-border-radius:8px 8px 0px 0px !important;
	-webkit-border-radius:8px 8px 0px 0px !important;
	-khtml-border-radius:8px 8px 0px 0px !important;
	border-radius:8px 8px 0px 0px !important;
}
.headings_date {
	float: right;
	font-weight:normal;
	text-shadow:1px 1px 1px #fff;
}
.content {
	color:#333;
    text-shadow:1px 1px 1px #fff;
	padding:5px;
    margin:3px 3px 5px 3px;
}
.details_section{
	background-color: #fff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#aaa');
    margin:2px;
    width:99.4%;
}
p { 
	padding: 5px 0;
}
.title_desc {
	font-weight:bold;
	width:30%;
	color:#000;
	text-shadow:1px 1px 1px #fff;
}
.title_comm {
	font-weight:bold;
	width:60%;
	color:#000;
	text-shadow:1px 1px 1px #fff;
}
.data {
	font-weight:bold;
	color:#333;
	text-shadow:1px 1px 1px #fff;
}
.mail_content{
	color:#333;
	width: 100%;
    text-shadow:1px 1px 1px #fff;
    background-color: #fff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    margin-bottom:10px;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#aaa');
    margin:2px 2px 10px 2px;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
}
.heading td{
	color:#333;
	width:20%;
}
#item-accordion em{
	font-weight:bold;
}