#propertiesdiv {
	background-color: #fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 0px 8px #aaa;
    -webkit-box-shadow:0px 0px 8px #aaa;
    box-shadow:0px 0px 8px #aaa;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=8, OffY=8, Color='#aaa');
    padding:10px;
}
#propertiesdiv span{
	font-weight:bold;
}
#propertiesdiv table tbody tr td{
	background:#fff;
}
#popuptbl{
	width: 210px !important;
	-moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -khtml-border-radius:0px !important;
    border-radius: 0px !important;
    -moz-box-shadow:0px 0px 0px #fff !important;
    -webkit-box-shadow:0px 0px 0px #fff !important;
    box-shadow:0px 0px 0px #fff !important;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#aaa') !important;
    border:none;
	background:#fff;
}

.arrow {
   	width: 0;
   	height: 0;
   	border-left: 12px solid transparent;
   	border-right: 12px solid transparent;
   	border-bottom: 12px solid #FFF;
   	display: block;
}
.arrow-border {
   	width: 0;
   	height: 0;
   	border-left: 12px solid transparent;
   	border-right: 12px solid transparent;
   	border-bottom: 12px solid #BBBBBB;
   	display: block;
}
#sort_div {
	background-color: #fff !important;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 0px 8px #aaa;
    -webkit-box-shadow:0px 0px 8px #aaa;
    box-shadow:0px 0px 8px #aaa;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=8, OffY=8, Color='#aaa');
    position:absolute;
    padding: 5px !important;
}
#sort_div table {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	width: 100% !important;
	height: 100% !important;
	background-color:#fff !important;
	moz-border-radius:0px;
	-webkit-border-radius:0px;
	-khtml-border-radius:0px;
	border-radius:0px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#aaa');
	box-shadow: none !important;
}
#sort_div table tr, #sort_div table tbody {
	width: 100%;
}
#searchbtnrel{
	width:100%;
	height: 25px !important;
	font-weight:normal !important;
	font-size:10px !important;
}
#notification_a, #notification_a:VISITED, #notification_a:HOVER {
	background:#e8e8e8;
	moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	background:
		-webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f4f4f4),
		to(#e8e8e8)
		);
	background:
		-moz-linear-gradient(
		top,
		#f4f4f4,
		#e8e8e8
		);
	background:
		linear-gradient(
		top,
		#f4f4f4,
		#e8e8e8
		);
	filter:progid:DXImageTransform.Microsoft.gradient(
    	GradientType=0,
   		startColorstr=#f4f4f4,
    	endColorstr=#e8e8e8
    	);
	text-transform:lowercase !important;
	min-width:118px !important;
   	margin-top:8px !important;
   	height:18px !important;
	line-height:20px !important;
	font-weight:normal !important;
	font-size:12px !important;
	float:right !important;
	margin-right:40px !important;
	border: 1px solid #ccc;
	
}
#notification_a.open, #notification_a.open:HOVER {
	background:#e8e8e8 !important;
}

#notification_a:HOVER {
	cursor: pointer;
	background:#e8e8e8 !important;
	background:
		-webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f4f4f4),
		to(#e8e8e8)
		) !important;
	background:
		-moz-linear-gradient(
		top,
		#f4f4f4,
		#e8e8e8
		) !important;
	background:
		linear-gradient(
		top,
		#f4f4f4,
		#e8e8e8
		) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(
    	GradientType=0,
   		startColorstr=#f4f4f4,
    	endColorstr=#e8e8e8
    	) !important;
	border: 1px solid #ccc !important;
}

#notification_div {
	width: 220px;
	height: 500px;
	background-color: #fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 0px 8px #aaa;
    -webkit-box-shadow:0px 0px 8px #aaa;
    box-shadow:0px 0px 8px #aaa;
    progid:DXImageTransform.Microsoft.dropshadow(OffX=8, OffY=8, Color='#aaa');
}
#notification_wrapper {
	overflow-y:auto;
	padding: 0;
	padding:10px;
	width: 200px;
	height: 480px;
}
#notification_list {
	margin: 0px !important;
	padding: 0px !important;
}
.notification {
	width: 100%;
	border-top: 1px solid #CCC !important;
}
.notification td {
	padding: 0px !important;
	font-size: 12px !important;
	text-shadow: 1px 1px 1px white !important;
}
.notification a {
	padding-left: 0px !important;
	font: bold 12px/20px Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #7BA857 !important;
	text-shadow: 1px 1px 1px #CCC !important;
}
.notification_date {
	float: right;
}
.sortpopupheader{
	padding:3px !important;
	font-weight:bold !important;
}