.tree_ul {
	list-style-type: none;
	padding-left: 15px;
}

.tree_ul .toggle {
	width: 100%;
}

.tree_ul .toggle img, .tree_li img {
	float: right;
	cursor: pointer;
}

.tree_ul .toggle span {
	cursor: pointer;
}

.tree_li .leaf {
	cursor: default;
}

.tree_li .leaf.normal_weight {
	font-weight: normal;
}

.tree_li .tree_a, .tree_li {
	color: gray;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 3px;
}

.tree_li:HOVER, .tree_li .tree_a:HOVER {
	color: black;
}